<section class="product_outer_wrapper float-left w-100">
  <div class="container-fluid">
    <h2 class="mb-3">This Week's Highlights</h2>
    <!--<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" *ngFor="let product of products">
      <mat-tab label="{{product.manufacturer}}">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="product_info float-left w-100">
              <img src="..\assets\img\samsung.png" height="510">
            </div>
            <div class="product_info_details float-left w-100 text-center">
              <div class="product_name float-left w-100">{{ product.name }} <br> {{ product.price?.formattedValue }}</div>
              <div class="product_add_info float-left w-100 mt-2">Number of Reviews: {{ product.numberOfReviews }}</div>
              <button class="buynow_btn">Buy Now</button>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Mobile">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="product_info float-left w-100">
              <img src="..\assets\img\samsung.png" height="510">
            </div>
            <div class="product_info_details float-left w-100 text-center">
              <div class="product_name float-left w-100">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
              <div class="product_add_info float-left w-100 mt-2">Avail up to ₹ 6000* bank account</div>
              <button class="buynow_btn">Buy Now</button>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="TV">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="product_info float-left w-100">
              <img src="..\assets\img\samsung.png" height="510">
            </div>
            <div class="product_info_details float-left w-100 text-center">
              <div class="product_name float-left w-100">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
              <div class="product_add_info float-left w-100 mt-2">Avail up to ₹ 6000* bank account</div>
              <button class="buynow_btn">Buy Now</button>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>-->
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab *ngFor="let manufacturer of uniqueManufacturers" [label]="manufacturer">
        <div class="row">
          <div class="col-12 col-sm-4 text-center" *ngFor="let product of getProductsByManufacturer(manufacturer)">
            <div class="product_info w-100">
              <!-- Add Product Image -->
              <cx-media class="cx-product-image" [container]="product.images?.PRIMARY" format="product"
                [alt]="product.summary">
              </cx-media>
            </div>
            <div class="product_info_details w-100 text-center">
              <div class="product_name w-100">
                {{ product.name }} <br>
                {{ product.price?.formattedValue || 'Price Not Available' }}
              </div>
              <div class="product_add_info w-100 mt-2">
                Number of Reviews: {{ product.numberOfReviews || 0 }}
              </div>
              <button class="buynow_btn" (click)="navigateToProductDetails(product.code)" (click)="scrollToTop()">View
                More</button>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>

<section class="product_outer_wrapper float-left w-100">
  <div class="container-fluid">
    <h2 class="mb-3">Product Details</h2>
    <div id="carouselExampleIndicator" class="carousel slide" data-ride="carousel" data-interval="3000">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicator" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicator" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicator" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{ active: i === 0 }" *ngFor="let product of products; let i = index">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 text-center">
              <!-- Add Product Image -->
              <cx-media class="cx-product-image" [container]="product.images?.PRIMARY" format="product"
                [alt]="product.summary">
              </cx-media>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mt-5">
              <h6>{{ product.name }}</h6>
              <p>{{ product.manufacturer }}</p>
              <p>{{ product.price?.formattedValue }}</p>
              <p>{{ product.summary }}</p>
              <p>SKU: {{ product.code }}</p>
              <button class="buynow_btn" (click)="navigateToProductDetails(product.code)" (click)="scrollToTop()">View
                Details</button>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicator" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicator" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>